# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - TimesheetsAPI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Ensure Compatibility: Use `--legacy-peer-deps`
        run: npm config set legacy-peer-deps=true

      - name: Force Clean Install: Avoid Cache/Corruption Issues
        run: |
          npm cache clean --force
          rm -rf node_modules package-lock.json
          npm install

      - name: Remove Stale Prisma Artifacts for Fresh Binary Downloads
        run: |
          rm -rf node_modules/.prisma

      - name: Build and Generate Prisma Client
        run: |
          npm run build --if-present
          npm run prisma:generate --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_AD46A304E9B94CD8AAC32DA788591380 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_DFAA635A7AE6484AA3B606C8BD371009 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3054C42635F849958C5EFC095736A740 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'TimesheetsAPI'
          slot-name: 'Production'
          package: .
          